/* reset */
/* 1. Use a more-intuitive box-sizing model.*/
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin  */
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults  */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Remove built-in form typography styles  */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows  */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Create a root stacking context  */
#root, #__next {
  isolation: isolate;
}



:root{

--White: hsl(0, 0%, 100%);
--Light-pink: hsl(275, 100%, 97%);
--Grayish-purple: hsl(292, 16%, 49%);
--Dark-purple: hsl(292, 42%, 14%);


  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;


}





/* mobile version */

.backgrn-pic{
  /* border: 3px solid orangered; */
  background-color: var(--Light-pink);
  display: flex;
  align-items: start;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  
  
}

/* 25.06.24 trying overlapping  */
.background-pic{
width: 100%;
/* grid-column: 1 / -1; */
z-index: 1;
position: absolute;


}
.background-pic img{
width: 100%;
}

.center-wrapper{
  /* position: absolute; */
  
  box-shadow: 0.5rem 1rem 3rem  0.5rem rgba(0, 0, 0, 0.2);
  background-color: var(--White);
  /* border: 3px solid black; */
  border-radius: 0.5rem;

 
  max-width: 63rem;
  
  margin: 6rem 1rem 0rem 1rem;
  position: relative;
  z-index: 1;
  padding: 1.5rem;
  height: auto;

}
.center-card{
  margin-bottom: 2rem;
}
.top-content{
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  gap: 1.5rem;
  /* border: 1px solid purple; */
  padding: 1rem;
}
.top-content img{
  width: 1.5rem;
}
.top-content h1{
  color: var(--Dark-purple);
}
.flex-items{
  /* border: 5px solid brown; */
  border-bottom: 1px solid var(--Light-pink);
  display: grid;


}

.flex-items:last-of-type{
  border-bottom: none;
}


.flex-layout-ques{
  /* border: 1px solid green; */

  padding: 1rem 0rem;
  display: flex;
 
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.flex-layout-ans{
  /* border: 1px solid blue; */
}
.answer{
  color: var(--Grayish-purple);
  line-height: 1.5;
  display: none;
}
.questions{
  font-weight: 600;
  color: var(--Dark-purple);
  cursor: pointer;
}
.questions:hover{
  color: var(--Grayish-purple);
}


/* Hide answers */
.open{
  
  display: block;
}
/* desktop version */
@media (min-width:600px) {
  .center-wrapper{
      
    margin: 2rem 1rem 0 1rem;
    position: relative;
    z-index: 2;
    max-width: 38rem;
    padding: 2rem;
      
  }
  .title{
    font-size: 3.75rem;
  }
  .top-content img{
    width: 2.25rem;
}
.backgrn-pic{
      /* 25.06.24 trying overlapping  */
      /* display: grid; */
      min-height: 100vh;
      display: flex;
      align-items: start;
      justify-content: center;
      /* grid-template-columns: repeat(4,1fr); */
      /* grid-template-rows: repeat(3,1fr); */
      gap: 1rem;
}

/* 25.06.24 trying overlapping  */
.background-pic{
width: 100%;
grid-column: 1 / -1;

position: absolute;
z-index: 1;

}
.background-pic img{
  width: 100%;
}
}

/* ipad mini */


@media (min-width:768px) {
.center-wrapper{
    
  margin: 4rem 1rem 0 1rem;
  position: relative;
  z-index: 2;
  max-width: 38rem;
  padding: 2rem;
    
}
.title{
  font-size: 3.75rem;
}
.top-content img{
  width: 2.25rem;
}
.backgrn-pic{
    /* 25.06.24 trying overlapping  */
    display: flex;
    min-height: 100vh;
    align-items: start;
    justify-content: center;
    /* grid-template-columns: repeat(4,1fr); */
    /* grid-template-rows: repeat(3,1fr); */
    gap: 1rem;
}

/* 25.06.24 trying overlapping  */s
.background-pic{
width: 100%;
grid-column: 1 / -1;

position: absolute;
z-index: 1;

}
.background-pic img{
width: 100%;
}
}





/* 1024 desktop */

@media (min-width:800px) {
.center-wrapper{
  margin: 8rem 1rem 0 1rem;
  position: relative;
  z-index: 2;
  max-width: 38rem;
  padding: 2rem;
}
.title{
  font-size: 3.75rem;
}

.top-content img{
  width: 2.25rem;
}
.backgrn-pic{
    /* 25.06.24 trying overlapping  */
    display: flex;
    align-items: start;
    justify-content: center;
    /* min-height: 100vh; */
    /* grid-template-columns: repeat(4,1fr); */
    /* grid-template-rows: repeat(3,1fr); */
    gap: 1rem;
}

/* 25.06.24 trying overlapping  */s
.background-pic{
width: 100%;
grid-column: 1 / -1;

position: absolute;
z-index: 1;

}
.background-pic img{
width: 100%;
}
}





@media (min-width:2000px) {
.center-wrapper{
    width: 100%;
    position: relative;
    z-index: 2;
    
}
.title{
  font-size: 3.75rem;
}
.top-content img{
  width: 2.25rem;
}
.backgrn-pic{
    /* 25.06.24 trying overlapping  */
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(3,1fr); */
    gap: 1rem;
}

/* 25.06.24 trying overlapping  */
.background-pic{
width: 100%;
grid-column: 1 / -1;


position: absolute;
z-index: 1;

}
.background-pic img{
width: 100%;
}
}


/* footer */
.attribution { 
  font-size: 11px; 
  text-align: center; 
  margin: 1rem 0; 
  
}
.attribution a { color: hsl(228, 45%, 44%); }
